

<% @trip.legs.each do |leg| %>
  <div class="grid grid-cols-2">
    <div class="leg-info">
      <div class="flex">
        <h3>Origin: <%= leg.origin.capitalize %><br>
        Destination: <%= leg.destination.capitalize %></h3>
      </div>
    </div>
    <div class="leg-map">
      <div data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= leg.markers.to_json %>"
        id="map-<%= leg.id %>"
        style="width: 100%; height: 300px"></div>
    </div>
  </div>
<% end %>
