<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :city, class: 'form-label' %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :country, class: 'form-label' %>
      <%= form.text_field :country, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :latitude, class: 'form-label' %>
      <%= form.text_field :latitude, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :longitude, class: 'form-label' %>
      <%= form.text_field :longitude, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if address.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', address, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if address.persisted? %>
      <%= link_to "Cancel", address, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", addresses_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
